*, ::before, ::after{
    box-sizing: border-box;
    margin:0;
    margin:0;
    overflow-y: hidden;
}

body{
     height:100vh;
     width:100%;
     background-color:bisque;
}


canvas{
    height: 100%;
    width: 100%;
}
