

.boite
{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    justify-content: space-evenly;


}
/* div{
    display: flex;
    flex-direction: row;
} */
.click
{
    background-color: rgb(207, 13, 13);
    color: aliceblue;
    height: 30px;
    width: 70px;
    font-size: 1rem;

}
.img5
{
    height: 40vh;
    width: 40vh;
    display: none;
}
.versus
{
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.message, .message1
{
    background-color: rgb(223, 62, 62);
    color: aliceblue;
    position: absolute;
    top: 50vh;
    position: fixed;
    width: 100%;
    height: 50px;
    font-size: 50px;
    font-family: 'Ephesis', cursive;
    text-align: center;
}
.button5{
    border-radius: 50%;
    height: 70px;
    width: 90px;
    border-color: rgb(14, 151, 14);
    background-color: red;
    color: azure;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 130px;
    position: fixed;
    bottom: 20vh;
}
#titrePPC
{
    background-image: linear-gradient(
  45deg,
  hsl(166deg 51% 27%) 0%,
  hsl(187deg 100% 25%) 9%,
  hsl(201deg 100% 34%) 18%,
  hsl(210deg 100% 40%) 27%,
  hsl(271deg 45% 51%) 36%,
  hsl(312deg 55% 40%) 45%,
  hsl(333deg 67% 36%) 55%,
  hsl(352deg 59% 33%) 64%,
  hsl(360deg 61% 37%) 73%,
  hsl(359deg 72% 42%) 82%,
  hsl(359deg 84% 47%) 91%,
  hsl(0deg 100% 50%) 100%
);
color: aliceblue;
}
@media screen and (max-width: 450px){
    .boite{
        display: flex ;
        flex-direction: column;
        
    }
    .img5{
        height: 150px;
        width: 150px;
    }
    .button5{
        margin-top: 60px;
        margin-bottom: 60px;
        height: 80px;
        width: 80px;
        bottom: 5vh;
    }
    .message{

        font-size: 3rem;
        position: fixed;
        height: 83px;
        top:75vh
    }

    .message1{
        font-size: smaller;
        position: fixed;
        top:40vh
    }
    .click{
        margin: 5px;
       
    }
}