*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'aneliza', 'Times New Roman', Times, serif;
}

@font-face {
    font-family: "aneliza";
    src: url(./fonts/Aneliza-Bold/Aneliza-Regular.ttf);
}


header{
    background: center / 200% url(./images/header/headerbg.jpg);
    font-weight: bold;
}

.test{
    position: relative;
    height: 70px;
}

.logo{
    position: absolute;
    left: 75px;
    width: 75px;
}

.connexion{
    position: absolute;
    right: 0;
    font-size: 0.8em;
    border: 1px solid white;
}
.client{
    color: white;
    background-color: rgb(50, 1, 99);
    padding: 3px 10px 3px 10px;
    font-size: 0.6em;
    font-weight: 200;
}
.social-media{
    display: flex;
    justify-content:space-around;
    height: 40px;
}
.google, .facebook, .twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.google{
    background-color: rgb(169, 224, 79);
}
.facebook{
    background-color:rgb(152, 211, 57);
}
.twitter{
    background-color: rgb(128, 180, 44);
}

.whitepara{
    position: relative;
    color: white;
    margin-left: 40px;
    max-width:fit-content;
}
.greenpara{
    color: rgb(169, 224, 79);
    font-size: 1em;
}
.violetpara{
    color: rgb(170, 73, 173);
    margin-left: 30px;
    margin-top: 5px;
    font-size: 1.3em;
}

.grid{
    color: white;
    display: grid;
    grid-template-columns: max-content max-content 1fr;
}

.un{
    font-size: 3em;
}
.pourcentage{
    font-size: 2em;
}
.prix{
    font-size: 1.2em;
    margin-left: 20px;
    font-weight:900;
}
.prix .seulement{
    line-height: 1.2;
    font-size: 1.8em;
    margin-left: -10px;
    font-weight:bolder;
}

.small-para{
    font-size: 0.3em;
    color: white;
    margin-top: 20px;
    width: 90%;
    margin: 20px auto 0 auto;
    text-align: center;
    font-weight: 200;
    line-height: 1.5;
}

.div-button{
    text-align: center;
    padding: 10px 0 40px 0;
}
.button{
    padding: 10px;
    border-radius: none;
    background-color: rgb(150, 206, 19);
    color: white;
    font-size: 0.6em;
}

.nav1, .nav2{
    display: flex;
    justify-content: space-around;
    list-style: none;
    /*grid-template-columns: repeat (3, max-content);*/
    font-size: 0.5em;
    background-color: rgb(78, 22, 78);
    color: white;
    padding: 15px 5px 15px 5px;
}

.qui{
    background-color: rgb(250, 229, 201);
}

.titre2{
    color: rgb(78, 22, 78);
    text-align: center;
    font-size: 1em;
    margin-bottom: 25px;
}

.texte{
    color: rgb(78, 22, 78);
    font-size: 0.8em;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
}

.icones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
}

.para-icone{
    width: 50%;
    margin: auto;
    color: rgb(78, 22, 78);
    font-size: 0.8em;
}

.div-savoir{
    text-align: center;
}
.button-savoir{
    padding: 10px;
    border-radius: none;
    background-color: rgb(150, 206, 19);
    color: white;
    font-size: 0.6em;
    margin-bottom: 50px;
}

.titre3{
    color: rgb(250, 229, 201);
    font-size: 1.1em;
    padding: 2em;
    text-align: center;
}

.services{
    background: center / cover url(./images/header/headerbg.jpg);
    padding: 10px;
}

.service1{
    text-align: center;
    background-color: lightblue;
    background-color: rgb(250, 229, 201);
    width: 90%;
    margin: 0 auto 20px auto;

}
.diagnostic{
    padding-top: 1em;
    color: rgb(78, 22, 78);
    /*margin-bottom: 20px;*/
}


.para-diagnostic{
    padding: 40px 0 20px 0;
    font-size: 0.8em;
    width: 90%;
    margin: auto;
    color: rgb(78, 22, 78);
    font-size: 1em;
}

.button-services{
    padding: 10px;
    border-radius: none;
    background-color: rgb(78, 22, 78);
    color: white;
    font-size: 0.6em;
    margin-bottom: 20px;
}

.div-button-recherche{
    display: flex;
    justify-content: center;
}
.button-recherche{
    
    margin: 40px auto 20px auto;
    padding: 10px 10px;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgb(150, 206, 19);
}

/* section 3 titre 3 biens*/
.recherche{
    background-color: lightgray;
}
.titre4{
    color: rgb(78, 22, 78);
    font-size: 1.5em;
    padding: 0.8em;
    text-align: center;
}

.biens{
    color: rgb(78, 22, 78);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.bien{
    display: flex;
    flex-direction: column;
}
.inputs{
    margin-top: 5px;
    width: 40%;
}
.budget{
    display: block;
    margin-left: 10px;
}
.budget-span{
    margin: 0px 5px;
}

.div-button-budget{
    display: flex;
    justify-content: center;
}
.button-budget{
   
    margin: 40px auto 20px auto;
    padding: 10px 20px;
    color: white;
    background-color: rgb(150, 206, 19);
    font-size: 0.8em;
    font-weight: bold;
}


/* section mis en ligne */

.choix-nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
   
}

.choix-nav a{
    color: rgb(136, 27, 136);
    text-decoration: none;
}

.maisons{
    text-align: center;
    width: 90%;
    margin: auto;
    

}
.maison{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100;
    margin: 10px auto;
    
    


    /*
    display: block;
    transform: scale(1.5);
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;

    */
}

/* section contactez nous */

.contactez-nous{
    background-color: rgba(211, 211, 211, 0.541);
}
.titre5{
    color: rgb(78, 22, 78);
    font-size: 1.5em;
    padding: 2em;
    text-align: center;
}
.civilite{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 20% 35% 35%;
    margin-left: 10px;
    color: rgb(78, 22, 78);
}
.input-civilite {
    width: 100%;
}
.contact{
    color: rgb(78, 22, 78);
    display: inline-block;
    margin-bottom: 5px;
}
.message{
    color: rgb(78, 22, 78);
    display: block;
    margin: 0 auto 0 10px;
    width: 90%;
}

.div-button-contact{
    display: flex;
    justify-content: center;
}
.button-contact{
    margin: 10px auto 20px auto;
    padding: 10px 15px;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgb(150, 206, 19);
}

/*  FOOTER  */

footer{
    background-color: rgb(78, 22, 78);
}
.div-footer{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.footer-link{
    text-decoration: none;
    text-align: center;
    margin: 10px 20px 10px 20px;
    color: aliceblue;
}

